@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";




@font-face {
    font-family: 'soberana_titularbold';
    src: url('../fonts/soberanatitular-bold-webfont.eot');
    src: url('../fonts/soberanatitular-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/soberanatitular-bold-webfont.woff2') format('woff2'),
         url('../fonts/soberanatitular-bold-webfont.woff') format('woff'),
         url('../fonts/soberanatitular-bold-webfont.ttf') format('truetype'),
         url('../fonts/soberanatitular-bold-webfont.svg#soberana_titularbold') format('svg');
    font-weight: normal;
    font-style: normal;

}



h1,h2,h3,h4,h5,h6, #menu {
		font-family: 'Cardo', serif;
		letter-spacing:1px;
		text-transform: uppercase;
		b {
			font-weight:normal;
			font-size:120%;
		}
}


.box_scale {
			  -webkit-transform: scale(1.1);  /* Chrome, Opera 15+, Safari 3.1+ */
			      -ms-transform: scale(1.1);  /* IE 9 */
			          transform: scale(1.1);  /* Firefox 16+, IE 10+, Opera **/
			}


 
.vcenter_table {display:table; height:100%; width:100%; }
.vcenter_container {display:table-cell; vertical-align:middle; text-align:center; }
.vcenter_content {display:inline-block; 	width:85%; }

.justify {
	text-align:justify;
}			


img {
	max-width:100%;
}

#cabecera {

	height:13vh;

	div {
		text-align: center;
		box-sizing: border-box;
	}	
	.columns {
		padding-left: 3px ;
		padding-right: 3px ;
	}

	#siglas {
		height:35px;
		line-height:35px;
		h1 {
			font-size:20px;
		}
		padding-top:12px;
		text-transform: uppercase;
	}

	#bandera {
		height:15px;
	}

	#titulo {
		padding-top:5px;
		h5 {
			font-size:10px;		
		}
		height:35px;
		line-height:12px;
	}

	#escudo {
		text-align: left;
		height:95px;
		img {
			height:95px;
			width:auto;
		}
	}

}


#menu {
	margin-top:30px;
	margin-bottom:15px;
	font-size:13px;

	.opcion_menu {
		text-align:center;
	}

	h6 {
		font-size: 12px;
	}


}


.brightness {

	-webkit-filter: brightness(0.6);
    -moz-filter: brightness(0.6);
    -o-filter: brightness(0.6);
    -ms-filter: brightness(0.6);

}



#principal {
}

#bullets {
	
	height:200px;

	.bullet {
		height:200px;

		position:relative;

		box-sizing: border-box;
		


		&>div {
			padding:15px;	
			position:absolute;
			top: 0; left:0;
			height:100%;
			width:100%;
		}

		div {
			
		}

		img {
			width:100%;
			height:100%;
			@extend .brightness;

		}


		.cortina {


			background: rgba(0,0,0,0.5);
				
			position: absolute;


		}
		.titulo {


			h3 {

				height:100%;	
				color:#fff;
			}

			font-size:45px;
			text-transform:uppercase;
			text-align: center;

			.justify {
				text-align:center;
			}
		}

		.texto {
			padding:5;
			text-align:center;
			p {
				text-align:left;
				font-size:13px;
			}
		}
	}

}

.revealHolder {

	&:hover {
		.revealOn {
			opacity: 0 !important;	
		}
		.revealOff {
			opacity: 1 !important;	
		}
	}

}

.revealOff {
	transition: opacity 0.15s ease;				
	opacity: 0;	
}

.revealOn {
	transition: opacity 1s ease;				
	opacity:1;	
}


#footer {
	height: 10vh;
	padding-top:15px;

}

.mBtm {
	margin-bottom:20px;
}
#entradas {
	height: 90vh; overflow-y: scroll;
	.entrada {
		@extend .mBtm;
	}
}


#entrada {
	#subMenu {
		li {
			&.active {
				font-weight:bold;
			}
		}
	}
	.contenido {
		max-height:50vh;
		overflow-y: scroll;

		.section {
			margin:15px 0;
			height:50vh;
		}
	}
}




#lateral  { 
	height: 90vh;
	
	#redes{
		height:7vh;
		margin-bottom:25px;
		.icono {
			img {
			border-radius:5px;
			overflow:hidden;

				-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
				transition: all 0.3s ease-out;

				&:hover {
					@extend .box_scale;
				}

				box-shadow: 2px 2px 2px 2px #333;

				height:auto;
			}
		}

	}



	.contenido_lateral {
		
		@extend .mBtm;
		
		&>div {
			text-align: center;
		}

		.imagen {
			img {
				height:20vh;
				width:80%;
			}
		}
		.titulo {

		}
	}
}